<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录验证码</title>
</head>
<body>
<div>
    <table border="0" cellpadding="0" cellspacing="0" id="m_-7700660819561398294body" style=" box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);text-align:center;width:520px;margin:16px auto; padding: 24px 24px 40px; border-style: solid; border-top-color: #9373EE; border-top-width: 4px; border-radius: 0 0 8px 8px; " bgcolor="#fff" >
        <tbody>
        <tr>
            <td>
                <div style="margin: 80px auto 32px ; font-size: 32px; font-weight: 600; line-height: 45px; letter-spacing: 0px">{{.username}}  邮箱验证码</div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="margin: 0 auto; font-size: 18px; line-height: 1.4; left: 0px; top: 77px; font-weight: 400;">你正在进行邮箱验证操作，验证码为: </div>
                <div style="padding: 16px; text-align: center; background: rgba(147, 115, 238, 0.04); border-radius: 4px; font-weight: 600; font-size: 24px; line-height: 140%; color: #9373EE; margin: 24px 0;">{{.code}}</div>
            </td>
        </tr>
        <tr>
            <td style="font-size:13px;line-height:1.6;color:#5c5c5c;padding:25px 0;">
                <ul style="text-align:center; margin-top: 24px; margin-bottom: 40px;">
                    <li style="display: inline-block; color: rgba(24, 24, 25, 0.42); font-size: 14px; line-height: 20px; ">此验证码 {{.offset}} 分钟内有效</li> <br>
                    <li style="display: inline-block; margin-top: 8px; color: rgba(24, 24, 25, 0.42); font-size: 14px; line-height: 20px;">请勿转给他人导致账号被盗和个人信息泄漏</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td style="font-size:13px;line-height:1.6;color:#5c5c5c;padding:25px 0">
                <div style="text-align: end;padding-right: 20px" >-- {{.account}}</div>
                <div style="color: rgba(24, 24, 25, 0.42); font-size: 14px; line-height: 20px; margin-top: 50px;">邮件由系统自动发送，请勿直接回复本邮件！</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>