.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
bin/
**/.DS_Store
gf
main
main.exe
server.exe
output/
manifest/output/
temp/
temp.yaml
bin
resource/public/html
server
log
manifest/license
manifest/config/weak_password.
resource/db.sqlite3
resource/bak.sqlite3